# 4. Topic Modeling

### Analyze transcripts for topics, define topics, see top topics for each president

In [1]:
import pandas as pd
import pickle

# henter vores dataframe (document-term), hvor vores definerede stopwords er sorteret fra
data = pd.read_pickle('dtm_stop.pkl')
data

,aaron,abandon,abandoned,abandoning,abandonment,abhorrent,ability,abject,able,ablebodied,...,young,youre,youth,youthful,youve,zeitchik,zero,zimbabwe,zone,zones
bushjunior,0,1,0,0,0,0,4,0,0,0,...,2,0,0,0,0,0,0,1,0,0
bushsenior,0,0,0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
carter,0,1,1,0,0,1,2,0,0,0,...,2,0,1,0,0,0,0,0,0,0
clinton,2,0,0,0,0,0,1,0,4,0,...,9,1,0,0,0,0,0,0,0,1
johnson,0,0,0,0,0,0,0,0,10,0,...,2,0,0,0,0,0,0,0,0,0
kennedy,0,1,0,0,1,0,4,0,0,0,...,3,0,2,1,0,0,0,0,0,0
nixon,0,0,0,1,0,0,1,0,4,0,...,2,0,1,0,0,0,1,0,0,0
obama,0,0,0,0,0,0,0,0,1,0,...,3,0,0,0,1,0,0,0,0,0
reagan,0,0,0,0,0,0,0,0,0,0,...,5,0,0,0,0,0,0,0,0,0
trump,0,0,0,0,0,0,0,1,3,0,...,5,0,0,0,0,2,0,0,0,0

In [2]:
from gensim import matutils, models
import scipy.sparse

# For at lave Topic Modeling, skal vi bruge formatet term-document, sÃ¥ vi 'vender' vores df
tdm = data.transpose()
tdm.head()

,bushjunior,bushsenior,carter,clinton,johnson,kennedy,nixon,obama,reagan,trump
aaron,0,0,0,2,0,0,0,0,0,0
abandon,1,0,1,0,0,1,0,0,0,0
abandoned,0,0,1,0,0,0,0,0,0,0
abandoning,0,0,0,0,0,0,1,0,0,0
abandonment,0,0,0,0,0,1,0,0,0,0

In [6]:
# UforstÃ¥elig del - check op pÃ¥ hvad der foregÃ¥r her

# We're going to put the term-document matrix into a new gensim format, from df --> sparse matrix --> gensim corpus
sparse_counts = scipy.sparse.csr_matrix(tdm)
corpus = matutils.Sparse2Corpus(sparse_counts)
sparse_counts

<5519x10 sparse matrix of type '<class 'numpy.int64'>'
	with 11903 stored elements in Compressed Sparse Row format>